<ion-content class="pantalla-carga" scroll-y="false">
  <div class="container">
    <div class="top-section">
      <img src="assets/images/teba-travel-logo.png" alt="Teba Travel" class="travel-logo" />
    </div>

    <div class="middle-section">
      <img src="assets/images/utcv-logo.png" alt="UTCV" class="institution-logo" />
      <img src="assets/images/tebaev-logo.png" alt="TEBAEV" class="institution-logo" />
    </div>

    <div class="bottom-section">
      <img src="assets/images/teba-travel-footer.png" alt="Footer" class="travel-footer" />
    </div>
  </div>
</ion-content>
