.login-page {
  --background: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100%;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: env(safe-area-inset-top) 0px env(safe-area-inset-bottom);
  }

  .top-section {
    width: 100%;
    display: flex;
    justify-content: center;

    .travel-logo {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }

  .form-section {
    text-align: center;
    padding: 0 20px;

    .welcome-text {
      margin-bottom: 20px;
      font-size: 18px;
      color: #000;
    }

    .input-item {
      margin-bottom: 12px;
      --highlight-color-focused: #920d3b;

      ion-input {
        padding-left: 8px;
      }

      ion-icon {
        color: #920d3b;
      }
    }

    .login-button {
      background-color: #920d3b;
      border-radius: 8px;
      margin-top: 20px;
    }
  }

  .bottom-section {
    width: 100%;
    text-align: center;

    .travel-footer {
      width: 100%;
      display: block;
    }
  }
}
