<ion-content class="oferta-page" fullscreen="true">
  <div class="container">

    <div class="header-image">
      <img src="assets/images/oferta-educativa-header.png" alt="Encabezado Oferta Educativa" />
    </div>

    <div class="grid-carreras">
      <img src="assets/images/carrera-1.png" alt="Agricultura Sustentable" />
      <img src="assets/images/carrera-2.png" alt="Desarrollo de Negocios" />
      <img src="assets/images/carrera-3.png" alt="Energías Renovables" />
      <img src="assets/images/carrera-4.png" alt="Gastronomía" />
      <img src="assets/images/carrera-5.png" alt="Gestión Integral de Riesgos" />
      <img src="assets/images/carrera-6.png" alt="Logística" />
      <img src="assets/images/carrera-7.png" alt="TI" />
      <img src="assets/images/carrera-8.png" alt="Mantenimiento Industrial" />
      <img src="assets/images/carrera-9.png" alt="Carrera 9" />
      <img src="assets/images/carrera-10.png" alt="Carrera 10" />
    </div>

  </div>
</ion-content>
